:root {
    --primary-color: #e82574;
    --primary-color-dark: #bc1c5c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    background-image: url('../../../assets/about.webp');
    border-radius: 100px;
    margin: 0 20px 0 20px;
    padding: 100px 0 100px 0;
    background-position: top center;
    color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner img {
    width: 200px;
    border-radius: 50%;
}

.banner .tagline {
    font-weight: bold;
    font-size: x-large;
}

.banner .tagline span {
    width: 10px;
    border: #e82574 solid;
    margin: 0px 10px 0px 10px;
}

.align-items-center div{
    position: relative;
    z-index: 1;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
}

.banner button {
    margin-top: 6vh;
}

.banner img {
    animation: updown 3s linear infinite;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about__container {
    overflow: hidden;
    display: grid;
    gap: 2rem;
}

.about__image img {
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
}

.btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

.explore :is(.section__subheader, .section__header) {
    text-align: center;
    margin-inline: auto;
}

.explore__bg {
    margin-top: 4rem;
    position: relative;
    border-radius: 100px;
    margin: 0 20px 20px 20px;
    padding-block: 3rem;
    display: grid;
    grid-template-columns:
        minmax(1rem, 1fr) minmax(0, var(--max-width)) minmax(1rem, 1fr);
    background-image: url("../../../assets/explore.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.explore__content {
    grid-column: 2/3;
    max-width: 400px;
    padding: 2rem;
    position: relative;
    z-index: 1;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.explore__content p {
    margin-bottom: 0.5rem;
}

.explore__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--text-dark);
}

.explore__content .btn {
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
}

.explore__content .btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

.footer {
    background-color: var(--text-dark);
}

.footer__container {
    display: grid;
    gap: 4rem 2rem;
}

.footer__col .section__description {
    margin-block: 2rem;
}

.footer__col h4 {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
}

.footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.footer__links a {
    color: var(--text-light);
    transition: 0.3s;
    text-decoration: none;
}

.footer__links a:hover {
    color: var(--white);
}

.footer__socials {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
}

@media (width > 576px) {
    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width > 768px) {
    .user {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .userImg {
        width: 50%;
        z-index: 1;
        padding-left: 10vw;
    }
    
    .userName {
        width: 50%;
        display: flex;
        justify-content: center;
    }

    .footer__container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate>.wrap {
    border-right: 0.08em solid #666;
}


.black-div{
    top:0;
    border-radius: 100px;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:0.5;

}