:root {
    --primary-color: #e82574;
    --primary-color-dark: #bc1c5c;
    --text-dark: #0c0a09;
    --text-light: #78716c;
    --white: #ffffff;
    --max-width: 1200px;
}

.full{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left:0;
    background-color: transparent;
    gap: 20px;
}
.popup_holder {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.black_div {
    top: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}
.popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.close_btn {
    color: #ffffff;
}

.close_btn:hover{
    color: #78716c;
}